.CustomPagination {
  all: unset;
  display: inline-block;
}
.CustomPagination ul {
  padding: 0;
  margin: 0;
  list-style: none;
  padding: 6px 0;
  border: 0px solid #487598;
  border-radius: 3px;
  display: table;
  align-items: center;
  clear: both;
}
.CustomPagination .CustomPaginationText {
  font-size: 0.75rem;
  font-weight: 600;
}
.CustomPagination li {
  float: left;
  height: 25px;
  margin: 0 2px;
  border: 1px solid transparent;
  border-radius: 0px;
  display: grid;
  align-items: center;
  align-content: center;
  text-align: center;
}
.CustomPagination li:not(:first-child) {
  min-width: 25px;
}
.CustomPagination li.active {
  border: 1px solid #465bef;
  border-radius: 50px;
  background: #465bef;
}
.CustomPagination li.active span {
  color: #fff;
}
.CustomPagination span {
  text-align: center;
  display: block;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  border: none;
  color: #000;
  background: transparent;
  outline: none;
  cursor: pointer;
  font-size: 0.9rem;
}
.CustomPagination .CustomPaginationText {
  display: inline-table;
}
