.add-user-details_grid-wrapper{
    flex: 0 0 700px;
    text-align: center;
    margin: 20px;
    .form__input-grid{
        .form__input{
            width: 50%;
        }
    }
    .add-user-details-header{
        // font-size: 20px;
        color: rgb(45, 103, 169);
        margin: 0;
    }
    .btn{
        margin-top: 10px;
    }
}