

.login-container_wrapper {
    flex: 0 0 700px;
    text-align: center;
    .login-header{
        // font-size: 20px;
        color: rgb(45, 103, 169);
        margin: 0;
    }
    .form__input-grid{
        .form__input{
            width: 50%;
        }
    }
    .btn{
        margin-top: 10px;
    }
}