.login-container_wrapper {
  flex: 0 0 700px;
  text-align: center;
}
.login-container_wrapper .login-header {
  color: #2d67a9;
  margin: 0;
}
.login-container_wrapper .form__input-grid .form__input {
  width: 50%;
}
.login-container_wrapper .btn {
  margin-top: 10px;
}
