.emp-card_wrapper-grid{
    width: 300px;
    .card_img-grid{
        display: flex;
        justify-content: center;
        .profile_img{
            border-radius: 100%;
            margin: 10px;
        }
    }
    .emp-content--grid{
        padding: 10px;
        .profile_name{
            color: #2E5E62;
        }
        .profile_designation{
            color: #479096;
        }
        .profile_details{
            font-weight: 500;
            .profile_details-label{
                color: #5DACB3;
            }
        }
    }
}