.floor-map_paper-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    padding: 20px;
    min-height: 800px;
    .floor-map_grid-wrapper{
        width: 100%;
        display: flex;
        flex-direction: column;
        .floor-map_title {
            width: 100%;
            text-align: center;
            color: darkblue;
        }
        .floor-map_grid-container {
            width: 100%;
            display: flex;
            justify-content: center;
            .floor-map_grid {
                display: flex;
                align-items: center;
                flex: 0 0 700px;
            }    
        }
    }
}