.floor-map_paper-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    min-height: 810px;
    .floor-map_grid-wrapper{
        width: 100%;
        display: flex;
        flex-direction: column;
        z-index: 1;
        background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
        .floor-map_img{
            height: 810px;
            opacity: 0.5;
        }
        .floor-map_title {
            width: 100%;
            text-align: center;
            color: darkblue;
        }
        .floor-map_grid-container {
            width: 100%;
            display: flex;
            justify-content: center;
            .floor-map_grid {
                display: flex;
                align-items: center;
                flex: 0 0 700px;
            }    
        }
    }
}