.sign-up_grid-wrapper {
  flex: 0 0 700px;
  text-align: center;
}
.sign-up_grid-wrapper .input-field_grid {
  flex: 1 0 auto;
}
.sign-up_grid-wrapper .input-field_grid .input-field {
  width: 100%;
  margin-bottom: 15px;
}
.sign-up_grid-wrapper .btn {
  width: 75%;
  padding: 1rem 3rem;
  border-radius: 35px;
}
