.home-page_paper-wrapper{
    // width: 100%;
    min-height: 895px;
    margin: 20px;
    box-shadow: -10px 13px 12px -13px rgba(0,0,0,0.75) !important;
    padding: 20px;
    .home-page_grid-wrapper{
        margin: 20px;
        .home-page_title{

        }
    }
}